<!DOCTYPE HTML>
<html>
<head>
	<title>EmprendeSV</title>
	<%= stylesheet_link_tag 'main_layout', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'main_layout', 'data-turbolinks-track' => true %>	

	<!-- Custom Theme files -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</script>

<script>
	// new WOW().init();
</script>

<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>

<script>
	$(function() {
		var pull 		= $('#pull');
		menu 		= $('nav ul');
		menuHeight	= menu.height();
		$(pull).on('click', function(e) {
			e.preventDefault();
			menu.slideToggle();
		});
		$(window).resize(function(){
			var w = $(window).width();
			if(w > 320 && menu.is(':hidden')) {
				menu.removeAttr('style');
			}
		});
	});
</script>
<!----//End-top-nav-script---->
</head>
<body>
	<div class="bg">
		<!----- start-header---->
		<div class="container">
			<div id="home" class="header wow bounceInDown" data-wow-delay="0.4s">
				<div class="top-header">
					<!----start-top-nav---->
					<nav class="top-nav">
						<ul class="top-nav">
							<li><a href="#about" class="scroll">Asistencia</a></li>
							<li><a href="#process" class="scroll">Capacitaciones</a></li>
							<li><a href="#port" class="scroll">Financiamiento</a></li>
							<li class="page-scroll"><a href="#" class="scroll">Networking</a></li>
						</ul>
						<a href="#" id="pull"><%= image_tag "nav-icon.png", title: "menu" %></a>

					</nav>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!----- //End-header---->
		<!---- banner-info ---->
		<div class="banner-info">
			<div class="container">
				<h1 class="wow fadeIn" data-wow-delay="0.5s">
					<br />
					<span>Nuestro</span><br />
					<label>Sueño es verte crecer</label>
				</h1>
				<div class="top-banner-grids wow bounceInUp" data-wow-delay="0.4s">
					<div class="banner-grid text-center">
						<span class="top-icon1"> </span>
						<h3>asasaadasdasas</h3>
					</div>
					<div class="banner-grid banner-grid-active text-center">
						<span class="top-icon2"> </span>
						<h3>asasaadasdasas</h3>
					</div>
					<div class="banner-grid text-center">
						<span class="top-icon3"> </span>
						<h3>asasaadasdasas</h3>
					</div>
					<div class="banner-grid text-center">
						<span class="top-icon4"> </span>
						<h3>asasaadasdasas</h3>
					</div>
					<div class="banner-grid text-center">
						<span class="top-icon5"> </span>
						<h3>asasaadasdasas</h3>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>

	<div class="top-grids text-center">
		<div class="container">
			<div class="col-md-3 wow bounceIn" data-wow-delay="0.4s">
				<div class="top-grid">
					<span>
						<%= image_tag "team-member1.png", class: "testimonial"%>
					</span>
					<h3><a href="#">Aqui van los testimonios</a></h3>
					<label> </label>
					<p>asadsadsadasd aDSDSADSADSASA addsfdsfgfdfsaf assadffghtgfbdsfwa aDDSTHRDFSAFGFGGDS</p>
				</div>
			</div>
			<div class="col-md-3 wow bounceIn" data-wow-delay="0.4s">
				<div class="top-grid">
					<span>
						<%= image_tag "team-member1.png", class: "testimonial"%>
					</span>
					<h3><a href="#">DSACDSFDSVC</a></h3>
					<label> </label>
					<p>asadsadsadasd aDSDSADSADSASA addsfdsfgfdfsaf assadffghtgfbdsfwa aDDSTHRDFSAFGFGGDS</p>
				</div>
			</div>
			<div class="col-md-3 wow bounceIn" data-wow-delay="0.4s">
				<div class="top-grid">
				<span>
					<%= image_tag "team-member3.png", class: "testimonial"%>
				</span>
					<h3><a href="#">DSACDSFDSVC</a></h3>
					<label> </label>
					<p>asadsadsadasd aDSDSADSADSASA addsfdsfgfdfsaf assadffghtgfbdsfwa aDDSTHRDFSAFGFGGDS</p>
				</div>
			</div>
			<div class="col-md-3 wow bounceIn" data-wow-delay="0.4s">
				<div class="top-grid">
					<span>
						<%= image_tag "team-member1.png", class: "testimonial"%>
					</span>
					<h3><a href="#">DSACDSFDSVC</a></h3>
					<label> </label>
					<p>asadsadsadasd aDSDSADSADSASA addsfdsfgfdfsaf assadffghtgfbdsfwa aDDSTHRDFSAFGFGGDS</p>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>

		  <div id="process" class="process">
				<div class="head-section">
					<div class="container">
						<h3><span>Capacitaciones</span><label>Disponibles</label></h3>
					</div>
				</div>
				<div class="container">
					<div class="process-grids text-center wow bounce" data-wow-delay="0.4s">
						<div class="col-md-3 process-grid process-grid1 wow bounceInUp" data-wow-delay="0.4s">
							<span class="p-icon1"> </span>
							<h4><a href="#">asasaadasdasas</a></h4>
						</div>
						<div class="col-md-3 process-grid process-grid2 wow bounceInDown" data-wow-delay="0.4s">
							<span class="p-icon2"> </span>
							<h4><a href="#">asasaadasdasas</a></h4>
						</div>
						<div class="col-md-3 process-grid process-grid3 wow bounceInUp" data-wow-delay="0.4s">
							<span class="p-icon3"> </span>
							<h4><a href="#">asasaadasdasas</a></h4>
						</div>
						<div class="col-md-3 process-grid process-grid4 wow bounceInDown" data-wow-delay="0.4s">
							<span class="p-icon4"> </span>
							<h4><a href="#">succesasasaadasdasas</a></h4>
						</div>
                        <br />
                        <div class="process-grids text-center wow bounce">
						<div class="col-md-3 process-grid process-grid4 wow bounceInUp" data-wow-delay="0.4s">
							<span class="p-icon1"> </span>
							<h4><a href="#">asasaadasdasas</a></h4>
						</div>
						<div class="col-md-3 process-grid process-grid3 wow bounceInDown" data-wow-delay="0.4s">
							<span class="p-icon2"> </span>
							<h4><a href="#">asasasasas</a></h4>
						</div>
						<div class="col-md-3 process-grid process-grid2 wow bounceInUp" data-wow-delay="0.4s">
							<span class="p-icon3"> </span>
							<h4><a href="#">sasasasas</a></h4>
						</div>
						<div class="col-md-3 process-grid process-grid1 wow bounceInDown" data-wow-delay="0.4s">
							<span class="p-icon4"> </span>
							<h4><a href="#">asaddadscdsdax</a></h4>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div> 

		<div class="work-with-us text-center">
			<div class="container">
				<h4>Conectando inversionistas con ideas de exito.</h4>
				<p>Toda idea necesita un proceso para poder crecer.</p>
				<a  data-wow-delay="0.3s">
					<%= image_tag "01.png", class: "logo-tadeo" %>
				</a>
			</div>
		</div>
	</div>
</body>
</html>